
body{
    background-color: hsl(212, 45%, 89%);
}



.box{
    height: 35em;
    width: 375px;
    border-radius: 10px;
    background-color:  hsl(0, 0%, 100%);
    border: 2px solid  hsl(0, 0%, 100%);
    position: absolute;
    margin-top: 10px;
    left: 500px;
    z-index: -1;
}
img{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    position: absolute;
    left: 500px;
    margin: 15px;
    margin-top: 20px;
    z-index: -1;
    
}
.p{
    font-family:sans-serif;
    font-weight: 700;
    word-spacing: 1px;
    padding-left: 43%;
    font-size: 20px;
    margin-top:400px;
    position: absolute;
    color: hsl(218, 44%, 22%);
   
   
}
.p1{
    font-family:sans-serif;
    font-size: 15px;
    font-weight: 700;
    word-spacing: 1px;
    padding-top: 470px; 
    position: absolute;
    margin-left: 530px;
    color: hsl(212, 45%, 89%);
   
}
.attribution{
    font-family:serif;
    font-size: 12px;
    padding-left: 560px;
    padding-top: 550px;
    position: absolute;
}
